#jinja2: lstrip_blocks: "True"
allow booting;
allow bootp;

authoritative;

ddns-update-style interim;
set vendorclass = option vendor-class-identifier;
ignore client-updates;

option space JUNOS_ZTP;
option JUNOS_ZTP.image-file-name code 0 = text;
option JUNOS_ZTP.config-file-name code 1 = text;
option JUNOS_ZTP.image-file-type code 2 = text;
option JUNOS_ZTP.transfer-mode code 3 = text;
option JUNOS_ZTP.alt-image-file-name code 4 = text;
option JUNOS_ZTP-encapsulation code 43 = encapsulate JUNOS_ZTP;
option JUNOS_ZTP.image-file-type "symlink";
option OPTION-150 code 150 = ip-address;

option pxe-system-type code 93 = unsigned integer 16;

{% if dummy_intf %}subnet 10.255.255.240 netmask 255.255.255.240 {}{% endif %}

{% for s in subnets %}
{% set subnet, netmask = s.cidr.split('/') %}
subnet {{ subnet }} netmask {{ netmask }} {
  range                      {{ s.range }};
  option routers             {{ s.routers }};
  option subnet-mask         {{ netmask }};
  option domain-name-servers {{ s.nameservers }};
  default-lease-time         {{ s.default_lease if 'default_lease' in s else 1800 }};
  max-lease-time             {{ s.max_lease if 'max_lease' in s else 3600 }};

  # send a minimal config to be able to reach the device
  class "Juniper-Devices" {
      match if substring (option vendor-class-identifier,0,8) = "Juniper-";
      option JUNOS_ZTP.transfer-mode "http";
      option OPTION-150 {{ ztp.host.ip }};
      option JUNOS_ZTP.config-file-name "{{ ztp.path.config }}/{{ ztp.path.default_config }}";
  }
}
{% endfor %}

group junos {
    option JUNOS_ZTP.transfer-mode "http";
    option OPTION-150 {{ ztp.host.ip }};
{% for host in network_devices %}
    host {{ host.name }}-junos {
        hardware ethernet {{ host.mgmt_mac }};
        fixed-address {{ host.mgmt.ip }};
        option host-name "{{ host.name }}";
        option JUNOS_ZTP.config-file-name "{{ ztp.path.config }}/{{ host.name }}.conf";
        option JUNOS_ZTP.image-file-name "{{ ztp.path.images }}/{{ host.junos_image }}";
    }
{% endfor %}
}

group ipmi {
{% for host in servers %}
    host {{ host.name }}-ipmi {
        hardware ethernet {{ host.mgmt_mac }};
        fixed-address {{ host.mgmt.ip }};
        option host-name "{{ host.name }}";
    }
{% endfor %}
}
